/* CSS Document*/ 

{
	margin: 0;
	padding: 0;
}

body
{
	font-family: 'Roboto', sans-serif;

}

#navbar
{
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar
{
	background-image: linear-gradient(to right, #0E00E6,#0018BF);
	padding: 0 !important;
}

.navbar-nav li
{
	padding: 0 10px;
}

.navbar-nav li a
{
	color: white !important;
	font-weight: 600;
}

.fa-bars
{
	color: white;
	font-size: 30px !important;
}

.navbar-toggler
{
	outline: none !important;
}

.galarenz-logo
{
	padding-left: 20px;
	height: 20px;
}

/*--------------banner----------------------*/

#banner
{
	background-image: linear-gradient(to right, #0E00E6,#0018BF);
	color: white;
	padding-top: 5%;
}

.header
{
	font-size: 40px;
	font-weight: 600;
	margin-top: 100px;
}

.wave-img
{
	width: 100%;
	
}

.play-button
{
	width: 45px;
	margin: 20px;
}

.flamecatlogo
{
	width: 150px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.youtube-logo
{
	width: 150px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.login-form
{
	padding-top: 20%;
}

.login-button {
  background-color: mediumpurple; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.downloads
{
	padding-top: 20px;
	padding-bottom: 20px;
}

.scripts
{
	padding-top: 20px;
	padding-bottom: 20px;
}